//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

- var model = 'backupItem'

form.panel.panel-default(name='general' novalidate)
    .panel-heading(bs-collapse-toggle)
        ignite-form-panel-chevron
        label General
        ignite-form-revert
    .panel-collapse(role='tabpanel' bs-collapse-target id='general')
        .panel-body
            .col-sm-6
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Name:
                        ignite-form-field-tooltip
                            | Cache name
                        ignite-form-field-input-text(
                            data-id='cacheName'
                            data-name='cacheName'
                            data-ng-model='#{model}.name'
                            data-ng-required='true'
                            data-placeholder='Input name'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Clusters: #[a(ui-sref='base.configuration.clusters({id: #{model}._id})') (add)]
                        ignite-form-field-tooltip
                            | Associate clusters with the current cache
                        ignite-form-field-dropdown(
                            data-id='clusters'
                            data-name='clusters'
                            data-options='clusters'
                            data-multiple='true'
                            data-ng-model='#{model}.clusters'
                            data-ng-disabled='!clusters.length'
                            data-placeholder='{{ clusters.length ? "Choose clusters": "No clusters configured" }}'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Domain models: #[a(ui-sref='base.configuration.domains({id: #{model}._id})') (add)]
                        ignite-form-field-tooltip
                            | Associate clusters with the current cache
                        ignite-form-field-dropdown(
                            data-id='domains'
                            data-name='domains'
                            data-options='domains'
                            data-multiple='true'
                            data-ng-model='#{model}.domains'
                            data-ng-disabled='!domains.length'
                            data-placeholder='{{ domains.length ? "Choose domain models": "No domain models configured" }}'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Cache mode:
                        ignite-form-field-tooltip
                            | Cache modes:
                            ul: li Partitioned - in this mode the overall key set will be divided into partitions and all partitions will be split equally between participating nodes
                                li Replicated - in this mode all the keys are distributed to all participating nodes
                                li Local - in this mode caches residing on different grid nodes will not know about each other
                        ignite-form-field-dropdown(
                            data-id='cacheMode'
                            data-name='cacheMode'
                            data-options='[\
                                {value: "LOCAL", label: "LOCAL"},\
                                {value: "REPLICATED", label: "REPLICATED"},\
                                {value: "PARTITIONED", label: "PARTITIONED"}\
                            ]'
                            data-ng-model='#{model}.cacheMode'
                            data-placeholder='PARTITIONED'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Atomicity:
                        ignite-form-field-tooltip
                            | Atomicity:
                            ul: li Atomic - in this mode distributed transactions and distributed locking are not supported
                                li Transactional - in this mode specified fully ACID-compliant transactional cache behavior
                        ignite-form-field-dropdown(
                            data-id='atomicityMode'
                            data-name='atomicityMode'
                            data-options='[\
                                {value: "ATOMIC", label: "ATOMIC"},\
                                {value: "TRANSACTIONAL", label: "TRANSACTIONAL"}\
                            ]'
                            data-ng-model='#{model}.atomicityMode'
                            data-placeholder='ATOMIC'
                        )
                .settings-row(data-ng-show='#{model}.cacheMode === "PARTITIONED"')
                    ignite-form-field
                        ignite-form-field-label
                            | Backups:
                        ignite-form-field-tooltip
                            | Number of nodes used to back up single partition for partitioned cache
                        ignite-form-field-input-number(
                            data-id='backups'
                            data-name='backups'
                            data-ng-model='#{model}.backups'
                            data-placeholder='0'
                            data-min='0'
                        )
                .settings-row(data-ng-show='#{model}.backups && #{model}.cacheMode !== "LOCAL"')
                    ignite-form-field.checkbox
                        ignite-form-field-input-checkbox(
                            data-id='readFromBackup'
                            data-name='readFromBackup'
                            data-ng-model='#{model}.readFromBackup'
                        )
                        | Read from backup
                        ignite-form-field-tooltip
                            | Flag indicating whether data can be read from backup#[br]
                            | If not set then always get data from primary node (never from backup)
                .settings-row
                    ignite-form-field.checkbox
                        ignite-form-field-input-checkbox(
                            data-id='copyOnRead'
                            data-name='copyOnRead'
                            data-ng-model='#{model}.copyOnRead'
                        )
                        | Copy on read
                        ignite-form-field-tooltip
                            | Flag indicating whether copy of the value stored in cache should be created for cache operation implying return value#[br]
                            | Also if this flag is set copies are created for values passed to CacheInterceptor and to CacheEntryProcessor
                .settings-row
                    ignite-form-field.checkbox
                        ignite-form-field-input-checkbox(
                            data-id='invalidate'
                            data-name='invalidate'
                            data-ng-model='#{model}.invalidate'
                        )
                        | Invalidate near cache
                        ignite-form-field-tooltip
                            | Invalidation flag for near cache entries in transaction#[br]
                            | If set then values will be invalidated (nullified) upon commit in near cache
            ignite-ui-ace.col-sm-6
                .preview-panel(ng-init='mode = false')
                    .preview-legend
                        a(ng-class='{active: !mode, inactive: mode}' ng-click='mode = false') XML
                        | &nbsp;
                        a(ng-class='{active: mode, inactive: !mode}' ng-click='mode = true') Java
                    .preview-content(ng-if='mode')
                        ignite-ui-ace-java(data-cluster='backupItem' data-generator='cacheDomains' data-caches='caches')
                    .preview-content(ng-if='!mode')
                        ignite-ui-ace-xml(data-cluster='backupItem' data-generator='cacheDomains' data-caches='caches')
