//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

- var model = 'backupItem'

form.panel.panel-default(name='query' novalidate)
    .panel-heading(bs-collapse-toggle)
        ignite-form-panel-chevron
        label Queries & Indexing
        ignite-form-revert
    .panel-collapse(role='tabpanel' bs-collapse-target id='query')
        .panel-body
            .col-sm-6
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | SQL schema name:
                        ignite-form-field-tooltip
                            | Schema name for cache according to SQL ANSI-99
                        ignite-form-field-input-text(
                            data-id='sqlSchema'
                            data-name='sqlSchema'
                            data-ng-model='#{model}.sqlSchema'
                            data-placeholder='Input schema name'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | On-heap cache for off-heap indexes:
                        ignite-form-field-tooltip
                            | Number of SQL rows which will be cached onheap to avoid deserialization on each SQL index access
                        ignite-form-field-input-number(
                            data-id='sqlOnheapRowCacheSize'
                            data-name='sqlOnheapRowCacheSize'
                            data-ng-model='#{model}.sqlOnheapRowCacheSize'
                            data-placeholder='10240'
                            data-min='1'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Long query timeout:
                        ignite-form-field-tooltip
                            | Timeout in milliseconds after which long query warning will be printed
                        ignite-form-field-input-number(
                            data-id='longQueryWarningTimeout'
                            data-name='longQueryWarningTimeout'
                            data-ng-model='#{model}.longQueryWarningTimeout'
                            data-placeholder='3000'
                            data-min='0'
                        )
                .settings-row
                    ignite-form-field.checkbox
                        ignite-form-field-input-checkbox(
                            data-id='snapshotableIndex'
                            data-name='snapshotableIndex'
                            data-ng-model='#{model}.snapshotableIndex'
                        )
                        | Snapshotable index
                        ignite-form-field-tooltip
                            | Flag indicating whether SQL indexes should support snapshots
                .settings-row
                    ignite-form-field.checkbox
                        ignite-form-field-input-checkbox(
                            data-id='sqlEscapeAll'
                            data-name='sqlEscapeAll'
                            data-ng-model='#{model}.sqlEscapeAll'
                        )
                        | Escape table and filed names
                        ignite-form-field-tooltip
                            | If set then all the SQL table and field names will be escaped with double quotes
                            | This enforces case sensitivity for field names and also allows having special characters in table and field names
            ignite-ui-ace.col-sm-6
                .preview-panel(ng-init='mode = false')
                    .preview-legend
                        a(ng-class='{active: !mode, inactive: mode}' ng-click='mode = false') XML
                        | &nbsp;
                        a(ng-class='{active: mode, inactive: !mode}' ng-click='mode = true') Java
                    .preview-content(ng-if='mode')
                        ignite-ui-ace-java(data-cluster='backupItem' data-generator='cacheDomains' data-caches='caches')
                    .preview-content(ng-if='!mode')
                        ignite-ui-ace-xml(data-cluster='backupItem' data-generator='cacheDomains' data-caches='caches')
